<br>
<h4>Projekt Reporting </h4>
<ul>
  <li>Uebersicht ueber alle Projekte</li>
  <li>Uebersicht ueber mehrer Monate</li>
  <li>Budget nach Personen</li>
  <li>Budget Details</li>
</ul>

<h4> Uploads </h4>
<ul>
  <li><%= link_to "Neue Gan-Datei", {:controller => "reporting", :action => "choose_gan_file"} %></li>
  <li> Neue Einzelkosten-Liste </li>
</ul>
