<% if User.current.allowed_to?({:controller => "reporting", :action => "choose_gan_file"}, @project) %>
  <br><br>
  <div>
    <span class="icon icon-reload"><%= link_to("Neue Gantt-File hochladen", {:controller => "reporting", :action => "choose_gan_file"}) %>
  </div>
<% end %>
