<br><br>
<h4>Benutzer Auslastung</h4>
<div class="icon" style="background-image: url('/images/group.png');">
	<%= link_to "Übersicht", {:controller => "weekeffort", :action => "overview_all"} %>
</div>
