.budget_container{
  padding-left: 8px;
  padding-bottom: 20px;
  background: #FFF;
}

.budget_version_container{
  padding-top: 8px;
  padding-bottom: 8px;
}

.budget_heading{
  font-weight: bold;
  margin-top: 20px;
  text-decoration: underline;
  margin-bottom: 15px;
  padding-top: 20px;
  border-top: 2px solid #CCC;
}

.budget_container_heading{
  margin-bottom: 8px;
  font-weight: bold;
  border-bottom: 1px dotted #000;
  width: 900px;
}

.budget_issue_container{
  overflow:hidden;
  margin-left:8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px dotted #CCC;
}

.budget_issue_container:hover{
  background-color: #CCC;
}

.budget_issue_name{
  float:left;
  width: 300px;
}

.budget_issue_progress{
  float:left;
  width: 150px;
}

.budget_issue_costs{
  float:left;
  width: 100px;
}

.budget_issue_hours{
  float: left;
  width: 100px;
  margin-left: 100px;
  font-style: italic;
}

.bar_outer{
  width: 150px;
  height: 12px;
  border: 1px solid #000;
  position: relative;
}

.bar_inner{
  height: 12px;
  position: absolute;
}

.bar_label{
  width:100%;
  position: absolute;
  height: 12px;
  text-align: center;
  font-size: 11px;
}

.green{
  background-color: #90EE90;
}

.red{
  background-color: #FF5E5E; 
}

.budget_individual_container{
  overflow: hidden;
  border-bottom: 1px dotted #CCC;
  padding-top: 2px;
  padding-bottom: 2px;
}

.budget_individual_container:hover{
  background-color: #CCC;
}

.budget_individual_date{
  float:left;
  width: 80px;
}

.budget_individual_label{
  float:left;
  width: 350px
}

.budget_individual_costs{
  float: left;
  width: 80px;
  text-align: right;
}

.budget_individual_cost_description{
  float: left;
  width: 150px;
  margin-left: 30px;
}

.budget_individual_amount{
  float: left;
  width: 50px;
  text-align: right;
}

.budget_individual_receipt{
  float: left;
  width: 80px;
}

.budget_individual_header{
  overflow:hidden;
}

.budget_individual_detail{
  padding-top: 15px;
}

table.budget_overview td:first-child{
  font-weight: bold;
}

table.individual_items{
    border: 1px solid black;
    border-collapse: collapse;
}

table.individual_items td{
    padding-top: 2px;
    padding-bottom: 2px;
}

table td.name{
    border-left: 1px solid black;
    width: 170px;
    padding-left: 5px;
}

table td.amount{
    border-right: 1px solid black;
    width: 140px;
    text-align: right;
    padding-right: 5px;
}

table td.type{
    width: 50px;
}

table td.bottom{
    border-bottom: 1px solid black;
}

table td.top{
    border-top: 1px solit black;
}

table td.summed{
    font-weight: bold;
}

table td.last{
    text-align: right;
    width: 150px;
    padding-right: 5px;
}

table td.big{
    font-size: 1.2em;
    padding-top: 8px;
    padding-bottom: 8px;
}