.report_table {
    width: 800px;
    border: 1px solid;
    border-collapse: collapse;
}

.report_table tr td:first-child{
    width: 300px;
}

.report_table tr.report_entry_first td{
    padding-top: 8px;
}

.report_table tr.report_entry_last td{
    padding-bottom: 8px;
}

.report_container_header{
    font-weight: bold;
    font-size: 1.1em;
    background: #CCCCFF;
    border: 1px solid;
}

.report_container_entry{
    font-weight: normal;
}