<h2> Upload Gan-File </h2>

<%= form_tag({:controller => 'reporting', :action => "upload_gan_file"}, :method => "post", :multipart => true) do %>
  <%= file_field_tag(:gan, :accept => ".gan") %>
  <%= submit_tag %>
<% end %>

